[Unit]
Description=PowerGuru
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/powerguru/powerguru.py 
StandardOutput=null
#> /home/pi/powerguru/powerguru.log 2>&1

[Install]
WantedBy=multi-user.target
